:root {
  --card-width: 350px;
  --card-height: 528px;
  --card-border-radius: 35px;
  --card-shadow: 2px 4px 6px black;
}

body {
  background-color: #0D6239;
}

.card {
  border-radius: var(--card-border-radius);
  filter: drop-shadow(var(--card-shadow));
  height: 528px;
  transform: rotateX(15deg);
  width: var(--card-width);
}

.inner-card {
  width: 100%;
}

.cards-wrapper {
  perspective: 800px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}